* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header{
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color:#ffffff;
}

h1{
    display: inline;
    font-size: 48px;
}

h2{
    margin-bottom: 20px;
    font-size: 36px;
}

h3{
    font-size: 1.17em;
}

h4{
    font-size: 20px;
}

/* Change "seo" in "horiseon" to a different color. */
em{
    color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
}

/* ul, li, a all format listed items in the header for use as a navbar */
ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}



/*classes*/
.header{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Insert hero image and fit it to window */
.hero img {
    height: 800px;
    width: 100%;
    margin-bottom: 21px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

/* content and its included classes formatted here */
.content{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* content images formatted */
.search-engine-optimization img{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.online-reputation-management img{
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.social-media-marketing img{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}


/* benefits formatted */
.benefits{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3{
    margin-bottom: 10px;
    text-align: center;
}
.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}